<%= turbo_frame_tag "transcription_status" do %>
  <div class="bg-gray-100 rounded-xl px-6 py-4">
  <% if video.transcription_status == 'ready' %>
    <h3 class="text-2xl font-bold mb-4 tracking-tight">Here are your transcripts:</h3>
    <div id="download-links" class="flex gap-x-4">
      <a 
         href="<%= video.json_transcription_url %>"
         class="rounded-md bg-blue-700 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
         Download JSON
      </a>
      <a 
         href="<%= video.webvtt_url %>"
         class="rounded-md bg-blue-700 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
         Download WebVTT
      </a>
      <a 
         href="<%= video.srt_url %>"
         class="rounded-md bg-blue-700 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
         Download SRT
      </a>
    </div>
  <% else %>

    <div class="">
        

      <% if video.transcription_status == 'waiting' %>
        <div class="flex items-center">
        <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-gray-800" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
        <h3 class="text-2xl font-bold tracking-tight">
          Preparing...
        </h3>
        </div>
        <p>This might take a minute</p>
      <% elsif video.transcription_status == 'transcribing' %>
        <div class="flex items-center">
        <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-gray-800" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
        <h3 class="text-2xl font-bold tracking-tight">
          Transcribing...
        </h3>
        </div>
      <% end %>
    </div>
  <% end %>
  </div>
<% end %>
