<%= turbo_frame_tag "video_player", class: "mb-6 rounded-xl overflow-hidden block bg-black  w-full flex items-center justify-center" do %>
    <% if video.status == 'done' %>
      <div class="relative w-full overflow-hidden">
    <mux-player
        stream-type="on-demand"
        playback-id="<%= video.playback_id %>"
        ></mux-player>
      </div>
    <% else %>
      <div class="">
        <p class="tracking-tight text-white text-2xl font-bold">Loading...</p>
      </div>
    <% end %>
<% end %>
